@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title> Hello World</title>
    </head>
<boby>
    <div>
        <b> <p style="font-size:50px; align-content:center; text-align: center; 
          color:red"> This is MVC Hello World </p></b>
    </div>
</boby>
</html>